{% extends 'one/basic.html' %}
{% load static %}

{% block body %}
    <!-- Start Banner -->
    <div class="section inner_page_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title">
                        <h3>About Us</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->

    <!-- section -->
    <div class="section layout_padding about_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                           <h2><span class="theme_color">One-stop Government Portal</span></h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>"One-stop Government Portal" is made for the convenience of the Indian citizen. It has been developed under the National E-Governance Plan (NEGP).
The main objective of this Portal is to provide one-stop access to information and services provided by the Indian Government. It is our goal to continue to enhance and enrich this portal in terms of content covered, design n technology on regular basis.</p>
<p>This portal will only allow you to sign-up using your Aadhar card only, making it a secure place, which will be verified using OTP. Then, personalized schemes and subsidies would be shown to the user according to the information gathered from their Aadhar card. Along with this, they will also be able to see all other Government-issued latest news and schemes or subsidies.  All the data will be stored using the Hash function/ cryptography.
</p><p>
For a more personalized experience, users can not only view the provided schemes, they can also apply for the same using the application forms provided. The status of those applications can be checked as well: status whether the form has been accepted or not if it is rejected, they can check the reason too. Users’ details will be auto-filled using the Aadhar card and other documents provided, but they can add or change all details as well. When the government adds new policies and schemes or passes new bills, people will get notified for the same along with having the feature to give comments to express their opinions for the same.
</p><p>
In addition to all, the user's Adhar card has address information, from which we can give additional information like the nearest police station, Hospital, Educational institute, and all other government institutes.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end section -->



    <!-- section -->
    <div class="section layout_padding about_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                           <h2><span class="theme_color">Vision</span> </h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>E-development of India to transtion into a developed nation</p>
                        <p>Effectively spread information on government policies, programms, achievements, etc. </p>
                        <p>Enchancing India's role in Internet Governance.
                        Provide a secure platform for people to express their views</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                           <h2><span class="theme_color">Mission</span> </h2>
                        </div>
                    </div>

                    <div class="full paddding_right_15">
                        <p>To effectively spread information on the policies, programms, news, etc. of government.</p>
                        <p>To establish a platform for communication between the government and the citizens of India while avoiding third party interferences</p>
                        <p>To provide a one stop platform for the beneficiaries to get all the informatin about the country, Government Bodies, policies etc.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end section -->
       {% endblock %}