<!DOCTYPE html>
{% load static %}
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>One Stop Government Portal</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="{% static 'image/x-icon' %}"/>
    <link rel="apple-touch-icon" href="#" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href=" {% static 'css/pogo-slider.min.css' %}"/>
    <!-- Site CSS -->
    <link rel="stylesheet" href= " {% static 'css/style.css' %}"/>
    <!-- Responsive CSS -->
    <link rel="stylesheet" href= " {% static 'css/responsive.css' %}" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href= "{% static 'css/custom.css' %}"/>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
 {% csrf_token %}
<body id="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader">
            <img src="{% static 'images/loader.gif' %}" alt="#" />
        </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->

    <!-- Start header -->
    <header class="top-header">
        <div class="header_top">

            <div class="container">
                <div class="row">
                    <div class="logo_section">
                        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="image"></a>
                    </div>
                    <div class="site_information">
                        <ul>
                            <li><a href="mailto:exchang@gmail.com"><img src="{% static 'images/mail_icon.png' %}" alt="#" />http://www.india.gov.in/</a></li>
                            <li><a href="tel:exchang@gmail.com"><img src="{% static 'images/phone_icon.png' %}" alt="#" />+91 123456789</a></li>
                            <li><a class="join_bt" href="{% url 'login' %}">Log In</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="header_bottom">
          <div class="container">
            <div class="col-sm-12">
                <div class="menu_orange_section" style="background: #ff880e;">
                   <nav class="navbar header-nav navbar-expand-lg">
                     <div class="menu_section">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                  <ul class="navbar-nav">
                       <li><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                        <li><a class="nav-link" href="{% url 'policies' %}">Policies</a></li>
                        <li><a class="nav-link" href="{% url 'posts' %}">Posts</a></li>
                        <li><a class="nav-link" href="{% url 'gov_bodies' %}">Gov Bodies</a></li>
                        <li><a class="nav-link" href="{% url 'about' %}">About Us</a></li>
                        <li><a class="nav-link" href="{% url 'mydocs' %}">My Docs</a></li>
                    </ul>
                </div>
                     </div>
                 </nav>
                 <div class="search-box">
                    <input type="text" class="search-txt" placeholder="Search">
                    <a class="search-btn">
                        <img src="{% static 'images/search_icon.png' %}" alt="#" />
                    </a>
                </div>
                </div>
            </div>
          </div>
        </div>

    </header>
    <!-- End header -->

    <!-- Start Banner -->
    <div class="section inner_page_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title">
                        <h3></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    
    <!-- section -->
       <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <img src=" {% static '1.jpg' %} " alt="#" style = "padding-top:100px;padding-left:0px;height:400px;width:400px;margin:0px;"/>
                    </div>
                </div>
                <div class="col-md-6 layout_padding">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                            <h2><span class="theme_color">Pradhan mantri avas yojna</span></h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>"One-stop Government Portal" is made for the convenience of the Indian citizen. It has been developed under the National E-Governance Plan (NEGP). 
The main objective of this Portal is to provide one-stop access to information and services provided by the Indian Government. It is our goal to continue to enhance and enrich this portal in terms of content covered, design n technology on regular basis.</p>
                    </div>
                    <div class="full paddding_left_15">
                        <a class="main_bt" href=" {% url 'about' %} ">More ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->

    

    <!-- section -->
    <div class="section layout_padding about_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                           <h2><span class="theme_color">Vision</span> </h2>    
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>E-development of India to transtion into a developed nation</p>
                        <p>Effectively spread information on government policies, programms, achievements, etc. </p>
                        <p>Enchancing India's role in Internet Governance.
                        Provide a secure platform for people to express their views</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                           <h2><span class="theme_color">Mission</span> </h2>    
                        </div>
                    </div>
                    
                    <div class="full paddding_right_15">
                        <p>To effectively spread information on the policies, programms, news, etc. of government.</p>
                        <p>To establish a platform for communication between the government and the citizens of India while avoiding third party interferences</p>
                        <p>To provide a one stop platform for the beneficiaries to get all the informatin about the country, Government Bodies, policies etc.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end section -->
       <!-- Start Footer -->
  <footer class="footer-box">
        <div class="container">
            <div class="row">
               <div class="col-md-12 white_fonts">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <img class="img-responsive" src=" {% static 'images/footer_logo.png' %} " alt="#" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <h3>Quick Links</h3>
                            </div>
                            <div class="full">
                                 <ul class="menu_footer">
                                   <li><a href="{% url 'home' %}">> Home</a></li>
                                    <li><a href="{% url 'policies' %}">> Policies</a></li>
                                    <li><a href="{% url 'posts' %}">> Posts</a></li>
                                    <li><a href="{% url 'gov_bodies' %}">> Gov Bodies</a></li>
                                    <li><a href="{% url 'about' %}">> About Us</a></li>
                                     <li><a href="{% url 'mydocs' %}">> My Docs</a></li>
                                    <li><a href="{% url 'contact' %}">> Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <div class="footer_blog full white_fonts">
                             <h3>Newsletter</h3>
                             <p>Subscribe with us to stay up-to-date</p>
                             <div class="newsletter_form">
                                <form action="{% url 'home' %}">
                                   <input type="email" placeholder="Your Email" name="#" required="">
                                   <button>Submit</button>
                                </form>
                             </div>
                         </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <div class="footer_blog full white_fonts">
                             <h3>Contact us</h3>
                             <ul class="full">
                               <li><img src=" {% static 'images/i5.png' %} "><span>Ahmedabad<br>India</span></li>
                               <li><img src=" {% static 'images/i6.png' %} "><span>onestopportalkks@gmail.com</span></li>
                               <li><img src=" {% static 'images/i7.png' %} "><span>+91 9016982262</span></li>
                             </ul>
                         </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </footer>
    <!-- End Footer -->

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="crp">© Copyrights 2021 One Stop Government Portal </p>
                </div>
            </div>
        </div>
    </div>

    <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src=" {% static 'js/jquery.min.js' %} "></script>
	<script src=" {% static 'js/popper.min.js' %} "></script>
    <script src=" {% static 'js/bootstrap.min.js' %} "></script>
    <!-- ALL PLUGINS -->
    <script src=" {% static 'js/jquery.magnific-popup.min.js' %} "></script>
    <script src=" {% static 'js/jquery.pogo-slider.min.js' %} "></script>
    <script src=" {% static 'js/slider-index.js' %} "></script>
    <script src=" {% static 'js/smoothscroll.js' %} "></script>
    <script src=" {% static 'js/form-validator.min.js' %} "></script>
    <script src=" {% static 'js/contact-form-script.js' %} "></script>
    <script src=" {% static 'js/isotope.min.js' %} "></script>
    <script src=" {% static 'js/images-loded.min.js' %} "></script>
    <script src=" {% static 'js/custom.js' %} "></script>
	
</body>

</html>